<% provide(:title, 'Тест-драйв') %>
<div class="row">
	<div class="jumbotron">
		<h1>Попробуйте бесплатно!</h1>
		<p class="lead">Отправьте нам 2000 знаков, и мы сделаем из них уникальный текст в течение суток.</p>
		<p><a class="btn btn-lg btn-success" href="#" role="button">Отправить</a></p>
	</div>
</div>