<% provide(:title, 'Самое важное') %>
<div class="jumbotron">
	<h1>Максимальный рерайт!</h1>
	<p class="lead">Мы сделаем рерайт 300 тысяч знаков за сутки!</p>
	<%= render 'button_custom' %>	
</div>

<!-- Example row of columns -->
<div class="row">
	<% @tiles.each do |tile| %>
	<div class="col-lg-6">
		<h2><%= tile[:header] %></h2>
		<p><%= tile[:body] %></p>
		<%= render 'button_primary' %>
	</div>
	<% end %>
</div>