<% provide(:title, 'Самое важное') %>
<div class="jumbotron">
	<h1>Максимальный рерайт!</h1>
	<p class="lead">Мы сделаем рерайт 300 тысяч знаков за сутки!</p>
	<p><a class="btn btn-lg btn-success" href="#" role="button">Заказать!</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
	<div class="col-lg-6">
		<h2>Скорость</h2>
		<p>Если вы очень расчетливый бизнесмен, то у вас не бывает авралов. Вы живете по четкому плану и, скорее всего, не существуете. Обычному человеку нужно сделать все как можно быстрее. Мы умеем делать работу быстро: <b>300 тысяч знаков в сутки</b> при стабильном качестве. </p>
		<p><a class="btn btn-primary" href="#" role="button">Сделать рерайт &raquo;</a></p>
	</div>
	<div class="col-lg-6">
		<h2>Тест-драйв</h2>
		<p>Мы понимаем, что вы, скорее всего, видите этот сайт в первый раз и пока не верите нам. Как насчет небольшого пробника, который не будет стоить вам ни копейки? Оцените нашу скорость и качество работы бесплатно! Отправьте нам текст размером 2000 знаков, и мы сделаем его рерайт!</p>
		<p><a class="btn btn-primary" href="#" role="button">Сделать рерайт &raquo;</a></p>
	</div>
</div>