<% provide(:title, 'Что такое рерайт?') %>
<div class="jumbotron">
		<h1>Что такое рерайт?</h1>
		<p class="lead">Оставьте заявку, и мы расскажем все вживую!</p>
		<p><a class="btn btn-lg btn-success" href="#" role="button">Оставить заявку</a></p>
</div>
<div class="row">
	<div class="col-lg-12">		
		<p>Как только вы начинаете делать свой сайт, перед вами встает задача: наполнить его достойным содержанием. Некоторые поступают просто — копируют все, что попадается под руку, и тем самым подкладывают себе большую жирную свинью.</p>
		<h3>Почему?</h3>
		<p>Дело в том, что поисковые системы крайне не любят скопированный контент. Cайты с такими текстами никогда не поднимутся на первую страницу поисковой выдачи, что автоматически означает, что на ваш сайт не придут посетители и не станут покупателями. И зачем тогда надо было делать сайт?</p>
		<p>Если же вы решите наполнять свои интернет-страницы настоящими, написанными с нуля живыми людьми текстами, то упретесь в экономическую неэффективность такого подхода. Конечно, хорошо иметь армию собственных писателей, которые расскажут вашим посетителям о всех нюансах вашего дела. Но эти писатели очень хотят есть!</p>
		<p><a class="btn btn-primary" href="#" role="button">Сделать рерайт &raquo;</a></p>
		<h3>Как же быть?</h3>
		<p>Помните старое кино "Приключения Шурика"? Там была замечательная фраза: "Всё уже украдено до вас!"</p>
		<p>Дело в том, что проблема уникального контента встала перед хозяевами сайтов очень (по меркам интернета) давно, и сейчас ее решают довольно просто. Вместо того, чтобы писать совершенно новый текст, вы переписываете уже существующий так, чтобы он был совсем не похож на исходный.</p>
		<p>Когда мы учились в школе, это называлось "изложение". Теперь такая работа называется "рерайтинг" (от английского <i>rewriting</i> — переписывание).</p>
		<p>Рерайтинг — сравнительно дешевый и быстрый способ набрать необходимую массу материалов для вашего нового сайта. Если за тысячу знаков совершенно нового текста вы заплатите 100-300 рублей, то рерайт заданного текста обойдется вам в 20-100 рублей. При этом его уникальность совершенно не пострадает.</p>
		<p><a class="btn btn-primary" href="#" role="button">Сделать рерайт &raquo;</a></p>
		<h3>Как это сделать?</h3>
		<p>Сейчас в интернете переписыванием текстов занимаются сотни и тысячи людей. Кажется, что сложностей с поиском подрядчика возникать не должно. Но, увы, не всегда это работает без сбоев. Перечислим несколько проблем, которые подстерегают заказчиков на всевозможных биржах контента:</p>
		<p><ul>
			<li>
				<h5>Исполнитель плохо знает русский язык</h5>
				<p>При этом в лучшем случае ваш текст будет плохо читаться. В худшем — он не станет уникальным, что тут же скажется на позиции сайта в поисковиках. В итоге вы просто потеряете деньги и время.</p>
			</li>
			<li>
				<h5>Рерайтер не может выдерживать качество</h5>
				<p>Даже если первые тексты исполнителя казались вам вполне приемлемыми, это не значит, что следующие экземпляры останутся на том же уровне. Это может особенно сильно сказаться на больших заказах, которые нужно выполнить в сжатые сроки.</p>
			</li>
			<li>
				<h5>Специалист не справляется с объемом работы</h5>
				<p>Когда вы начинаете пользоваться услугами нескольких рерайтеров, у вас вполне могут появиться предпочтения. Но даже у самых замечательных писателей есть пределы работоспособности. В таких случаях вам придется отдавать работу кому-то еще, что может испортить результат.</p>
			</li>
		</ul></p>
		<p><a class="btn btn-primary" href="#" role="button">Сделать рерайт &raquo;</a></p>
		<h3>Чем мы можем помочь?</h3>
		<p>Мы убрали все эти недостатки:</p>
		<ul>
			<li>Каждый из сотрудников нашего агентства проходит строгий тест на знание русского языка.</li>
			<li>Мы тщательно следим за объемом работы, который нужно выполнить каждому сотруднику.</li>
			<li>Если ваш заказ большой, мы разделим его на несколько блоков, и его будет выполнять команда рерайтеров. Таким образом они смогут сохранить общий стиль текстов и выдержать их качество.</li>
			<li>Мы любим выполнять свою работу вовремя: вы сразу узнаете точную дату и время выполнения заказа, после чего в назначенный срок получите весь заказ.</li>
			<li>Для особо больших заказов мы можем выдавать результаты готовыми блоками, чтобы вы могли наполнять свой ресурс постепенно.</li>			
		</ul>
		<h3>Сколько это стоит?</h3>
		<p>Мы готовы сделать рерайт вашего текста по цене 70 рублей за 1000 знаков.</p>
		<p><a class="btn btn-primary" href="#" role="button">Сделать рерайт &raquo;</a></p>
	</div>
</div>