<%= provide(:title, 'Requests') %>

<div id="list"><%= render 'requests/requests' %></div>

<br />


<%= link_to "Send request", open_popup_path, remote: true, data: { toggle: 'modal', target: '#popUp'}, :class => "btn btn-primary btn-lg" %>
<div id="div_id"></div>