%p
	= link_to button[:text].html_safe, open_popup_path(button[:params]), remote: true, data: { toggle: 'modal', target: '#popUp'}, class: "btn btn-#{button[:color]} btn-#{button[:size]}", role: "button"