<% provide(:title, 'Связаться с нами') %>
<div class="row">
	<div class="col-lg-12">
		<h2>Свяжитесь с нами!</h2>		
		<ul>
			<li>Позвоните: +7 495 123 45 67</li>
			<li>Напишите: people@renewtext.ru</li>			
		</ul>
		<p>Или оставьте нам телефон, и мы перезвоним вам сами:</p>
		<p><a class="btn btn-primary" href="#" role="button">Заказать звонок &raquo;</a></p>
	</div>
</div>