@import "bootstrap";

@media (min-width: 800px) {
	body {
		padding-top: 60px;
	}
	.container {
		max-width: 800px;
	}
	.linediv-l {
		border-right: 1px white solid;
	}
	.linediv-r {
		border-left: 1px white solid;
	}
	.modal-dialog {
   		width: 520px;
   	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	.copy {
		padding: 2.5% 10%;
	}
	.linediv-l {
		border-bottom: 1px white solid;
	}
	.linediv-r {
		border-top: 1px white solid;
	}
}

.price {
	font-family: Ubuntu;
	font-size: 3em;
	margin-bottom: 4px;
}

@font-face {
	font-family: "Rubl Sign"; src: url(/ruble.eot); 
}

span.rur { 
	font-family: "Rubl Sign"; text-transform: uppercase;
}    
span.rur span { 
	position: absolute; overflow: hidden; width: .45em; height: 1em; margin: .1ex 0 0 -.55em; // display: none; 
}
span.rur span:before { 
	content: '\2013'; 
}

label {
	line-height: 34px;
	v-align: center;
	float: right;
}

.labels {
	padding-right: 0px;
}
