@import "bootstrap";



@media (min-width: 800px) {
	body {
		background-image: url('/assets/jumbo2.jpg');
		position: relative;
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
	}
	.main-page {
		text-align: center;
		margin-top: 50px;
		margin-bottom: 20px;
	}
	nav {
		margin-top: 20px;
	}
	label {
		line-height: 34px;
		vertical-align: center;
		float: right;
	}
	.container {
		max-width: 800px;
	}
	.linediv-l {
		border-right: 1px white solid;
	}
	.linediv-r {
		border-left: 1px white solid;
	}
	.modal-dialog {
		width: 520px;
	}
	.modal-footer {
		margin-top: 0px;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	.copy {
		padding: 2.5% 10%;
	}
	.linediv-l {
		border-bottom: 1px white solid;
	}
	.linediv-r {
		border-top: 1px white solid;
	}
}

.container {
	background-color: #FFFFFF;
}

.price {
	font-family: Ubuntu;
	font-size: 3em;
	margin-bottom: 4px;
}

@font-face {
	font-family: "Rubl Sign"; src: url(/ruble.eot);
}

span.rur {
	font-family: "Rubl Sign";
	text-transform: uppercase;
}
span.rur span {
	position: absolute;
	overflow: hidden;
	width: .45em;
	height: 1em;
	margin: .1ex 0 0 -.55em;
}

span.rur span:before {
	content: '\2013';
}

.form-labels {
	padding-right: 0px;
}

img.illustration {
	padding-bottom: 10px;
}

.jumbotron {
	text-align: center;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

.testimonial {
	.panel-footer {
		text-align: right;
	}
}

.item {
	margin: auto;
}

.table {
	display: table-row;
}

.cell {
	display: table-cell;
}
.phone {
	float:right;
	vertical-align: middle;
	line-height: 45px;
}
.number {
	padding-right: 20px;
	font-size: 20px;
	font-style: bold;
}