.contact
	.row
		.col-lg-12
			%p.phone= link_to 'Заказать звонок!', open_popup_path({color: 'danger'}), remote: true, data: { toggle: 'modal', target: '#popUp'}, class: "btn btn-danger btn-lg", role: "button"
			%p.phone.number= '+7 920 111 2500'
			