%nav.navbar.navbar-default{:role=>"navigation"}
	.navbar-header
		%button.navbar-toggle{:type=>"button", 'data-toggle'=>"collapse", 'data-target'=>"#navbar-collapse-1"}
			%span.sr-only Навигация
			- 3.times do
				%span.icon-bar					
		= link_to "ReNewText", root_path, { :class => "navbar-brand"}

	.collapse.navbar-collapse{:id=>"navbar-collapse-1"}
		%ul.nav.navbar-nav.pull-right
			%li= link_to "Что такое рерайт?", '/pages/rewrite'
			%li= link_to "Бесплатный тест", '/pages/free'
			%li= link_to "Цены", '/pages/prices'